#search-time iframe{
	width:210px !important;
	height:217px !important;
	overflow:hidden !important;
	}
.Wdate{
	border:#999 1px solid;
	height:20px;
	background:#fff url(datePicker.gif) no-repeat right;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}
.btn-search{    position: relative;
    width: 180px;
    height: 30px;
    line-height: 26px;
    text-align: center;
	top:10px;}
